<nav class="flex-none flex-m justify-between items-center center bg-black relative">

	<!-- Logo -->
	<a href="/" class="pv3 db mr4 h-100 w-100 w-20-m tc">
		<img src="/img/catherine-carpenter-white.png" alt="Catherine Carpenter" class="br0 mb0 pl0 pl4-m w-50 w-100-m tc"/>
	</a>

	<!-- Primary Nav -->
	<ul class="flex grey-3 justify-between items-center">
		<li class="ph3"><a href="/" class="ph3 pv2 no-underline db">Home</a></li>

		<li class="ph3"><a href="/gallery" class="ph3 pv1 no-underline db">Gallery</a></li>

		<!-- <li><a href="/values" class="pa3 no-underline db">Values</a></li>

		<li><a href="/post" class="pa3 no-underline db">Blog</a></li> -->

		<li class="ph3"><a href="/contact" class="ph3 pv1 no-underline db">Contact</a></li>
	</ul>

</nav>
