.galleryshow .slick-slide{
    height: 600px;
}
.galleryshow .slick-slide img{
    max-height:100%;
    padding:10px;
}
.galleryshow .slick-dots li button, .galleryshow .slick-dots li button:before{
  font-size:12px;
}
.galleryshow .slick-dots li button:before{
    color:#FFF;

}
.galleryshow .slick-dots li.slick-active button:before{
    color:rgb(224, 19, 19);

}

nav a{
    color:#FFF;
    font-weight:200;
    font-size:18px
}
body{
    color:#333;
}

body p{
    font-weight: 200;
}